{% extends "base.html" %}
{% import "macros/breadcrumb.html" as breadcrumb %}

{% block title %}{{ section.title | default(value=config.title) }}{% endblock %}
{% block description %}{{ section.description | default(value=config.description) }}{% endblock %}

{% block content %}
<article>
  {{ breadcrumb::render_breadcrumb(current_url=section.path, lang=lang) }}
  {% if section.title %}<h1>{{ section.title }}</h1>{% endif %}
  {{ section.content | safe }}
</article>
<hr>
<ul>
  {% for page in section.pages %}
    <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
  {% endfor %}
  {% for subsection_path in section.subsections %}
    {% set subsection = get_section(path=subsection_path) %}
    <li><a href="{{ subsection.permalink }}">{{ subsection.title | default(value=subsection.components | last) }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
